@page
@{
    Layout = "_Dashboard-Layout";
}

<head>
    <link rel="stylesheet" href="~/css/context.css" />
    <script src="~/js/context.js" defer></script>
</head>
<div class="row">
    <div class="section">
        <div class="info-box new-context">
            <form id="new-context-form">
                <div class="edit-context-bar">
                    <div class="heading">
                        <h2>Bewerk context</h2>
                        <div class="tooltip-container">
                            <i class="fa-solid fa-circle-info"></i>
                            <span class="tooltip">Dit is de kennis die je aan de bot geeft.</span>
                        </div>
                    </div>
                    <button type="button" id="new-context">Nieuw</button>
                </div>

                <input id="title-input" placeholder="Titel"></input>
                <textarea id="context-input" placeholder="Context"></textarea>
                <button type="button" id="save-context-activate">Opslaan</button>
            </form>
        </div>
    </div>
    <div class="section">
        <div class="info-box manage-context">
            <div class="heading">
                <h2>Context beheren</h2>
                <div class="tooltip-container">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">Druk op het potloodje om de context te bewerken. Druk op het prullenbakje om de context te verwijderen.</span>
                </div>
            </div>
            <ul class="list context" id="context-list">
            </ul>
        </div>
    </div>
</div>