@page
@{
    Layout = "_Dashboard-Layout";
}
<head>
    <link rel="stylesheet" href="~/css/notifications.css" />
    <script src="~/js/notifications.js" defer></script>
</head>
<div class="page-content">
    <div class="notifications-page-container">
        <ul class="notifications-page-list" id="notifications-page-list">

        </ul>
    </div>
</div>