@page
@{
    Layout = "_Dashboard-Layout";
}
<head>
    <link rel="stylesheet" href="~/css/status.css">
    <script src="~/js/status.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
</head>
<div class="page-content">
    <div class="section">
        <div class="info-box current">
            <div class="row">
                <div class="status-box">
                    <div class="heading">
                        <h2>Huidige status</h2>
                        <div class="tooltip-container">
                            <i class="fa-solid fa-circle-info"></i>
                            <span class="tooltip">'Actief' als de bot aan staat.</span>
                        </div>
                    </div>
                    <p id="current-status"></p>
                </div>
                <div class="status-box">
                    <div class="heading">
                        <h2>Aantal gesprekken</h2>
                        <div class="tooltip-container">
                            <i class="fa-solid fa-circle-info"></i>
                            <span class="tooltip">Totaal aantal gesprekken met de bot.</span>
                        </div>
                    </div>
                    <p id="conversation-count"></p>
                </div>
            </div>
            <div class="row">
                <div class="status-box">
                    <div class="heading">
                        <h2>Reviews</h2>
                        <div class="tooltip-container">
                            <i class="fa-solid fa-circle-info"></i>
                            <span class="tooltip">Distributie van de gebruikersreviews.</span>
                        </div>
                    </div>
                    <canvas id="review-chart" class="review-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="info-box activity">
            <div class="heading">
                <h2>Activiteit</h2>
                <div class="tooltip-container">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">Hoeveelheid gesprekken per uur in de afgelopen 24 uur.</span>
                </div>
            </div>
            <canvas id="activity-chart"></canvas>
        </div>
    </div>
    <div class="section">
        <div class="info-box questions">
            <div class="heading">
                <h2>Onbeantwoorde Vragen</h2>
                <div class="tooltip-container">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">Vragen die de bot niet kon beantwoorden. Druk op het oogje voor meer info.</span>
                </div>
            </div>
            <ul class="list questions" id="unanswered-questions">
            </ul>
        </div>
        <div class="info-box conversations">
            <div class="heading">
                <h2>Gesprekken</h2>
                <div class="tooltip-container">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">De laatste 10 gesprekken die gevoerd zijn. Druk op het oogje voor meer info.</span>
                </div>
            </div>
            <ul class="list conversations" id="conversation-list">
            </ul>
        </div>
    </div>
</div>