@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>intelliGuide Terminal</title>
    <link rel="icon" href="resources/intelliguide_icon.png">
    <link rel="stylesheet" href="~/css/login.css">
    <link href="https://fonts.cdnfonts.com/css/open-sauce-one" rel="stylesheet">
    <script src="~/js/login.js" defer></script>
</head>
<body>
    <div id="page-wrapper">
        <div id="container">
            <img id="robot" src="~/resources/robotje2.png" alt="robot">
            <img id="logo" src="~/resources/intelliguide_logo_black.png" alt="logo">
            <p>Terminal</p>
            <form id="login-form" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span>
                    <label for="remember-me">Remember me</label>
                    <input type="checkbox" id="remember-me" name="remember-me">
                </span>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
